// ================================
//  ABSTRACTS - Variables
// ================================

// Couleurs principales
$main-color:          #F6F6F6;
$color-grey:          #EAEAEA;
$color-dark-grey:     #353535;

// Couleurs boutons / accents
$main-color-button:   #9356DC;
$second-color-button: #FF79DA;

// Couleurs badge "Nouveau"
$new-txt-color:       #99E2D0;
$new-bg-color:        #008766;

// Typographies
$font-main:           'Roboto', sans-serif;
$font-title:          'Shrikhand', sans-serif;

// Breakpoints
$bp-tablet:           768px;
$bp-desktop:          1024px;
